body {
  margin: 0;
  border: 0;
  padding: 0;
  box-sizing: border-box;
}

header .top-header-container {
  background-color: #0282F9;
}

header .top-header-container .top-header {
  width: 65%;
  margin: 0 auto;
  text-align: right;
  padding: 5px 0;
}

header .top-header-container .top-header span {
  color: #FFF;
  margin: 5px 0;
  font-size: 11px;
  margin-left: 30px;
}

header .navbar {
  width: 65%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
}

header .navbar .logo img {
  width: 70px;
}

header .navbar .list ul {
  display: flex;
  list-style: none;
  font-weight: bold;
}

header .navbar .list ul li {
  margin: 0 10px;
  font-size: 15px;
  height: 100px;
  display: flex;
  align-items: center;
}

header .navbar .list ul li i {
  padding-left: 5px;
  color: #0282F9;
}

header .navbar .search input {
  text-align: right;
  border: 0;
  border-bottom: 2px solid #0282F9;
  width: 90px;
}

header .navbar .search input::-moz-placeholder {
  color: #000;
  font-weight: bold;
}

header .navbar .search input:-ms-input-placeholder {
  color: #000;
  font-weight: bold;
}

header .navbar .search input::placeholder {
  color: #000;
  font-weight: bold;
}

header .header-jumbo {
  background-image: url("/img/jumbotron.jpg");
  height: 400px;
}

.main {
  background-color: #1C1C1C;
}

.main .container-main {
  width: 65%;
  margin: 0 auto;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.main .container-main .current-mrg-neg {
  width: 260px;
  background-color: #0282F9;
  text-align: center;
  color: white;
  font-weight: bold;
  font-size: 24px;
  padding: 10px 4px;
  position: absolute;
  top: -25px;
}

.main .container-main .current-mrg-neg p {
  margin: 0;
}

.main .container-main .card {
  margin: 40px 15px;
  text-decoration: none;
}

.main .container-main .card img {
  width: 170px;
  height: 200px;
}

.main .container-main .card .text {
  text-transform: uppercase;
  color: #FFF;
  width: 170px;
  font-size: 13px;
}

.main .container-main .button {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-bottom: 20px;
}

.main .container-main .button button {
  background-color: #0282F9;
  padding: 10px 40px;
  border: 0;
  color: white;
  font-weight: bold;
  font-size: 11px;
}

.main .end-main {
  background-color: #0282F9;
  height: 150px;
}

.main .end-main .container-end-main {
  width: 65%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.main .end-main .container-end-main .merch {
  display: flex;
  align-items: center;
}

.main .end-main .container-end-main .merch img {
  width: 40px;
}

.main .end-main .container-end-main .merch p {
  color: #FFF;
  margin-left: 10px;
  font-size: 14px;
}

.main .end-main .container-end-main .merch .other-opts {
  height: 45px;
}

main .thumbnail {
  height: 100px;
  background-color: #0282F9;
  position: relative;
}

main .thumbnail img {
  position: absolute;
  left: 24%;
  bottom: 50%;
}

main .info_comic_1 {
  width: 52%;
  margin: 0 auto;
  display: flex;
}

main .info_comic_1 .left-part {
  width: 70%;
  margin: 60px 0;
  padding-right: 60px;
}

main .info_comic_1 .left-part h2 {
  font-size: 24px;
  text-transform: uppercase;
}

main .info_comic_1 .left-part .price-check {
  display: flex;
  justify-content: space-between;
  background-color: #55BA59;
  padding: 0 20px;
}

main .info_comic_1 .left-part .price-check div {
  display: flex;
  width: 72%;
  justify-content: space-between;
  border-right: 1px solid black;
  padding-right: 20px;
}

main .info_comic_1 .left-part .price-check div p {
  color: #767085;
}

main .info_comic_1 .left-part .price-check div p label {
  color: #FFF;
}

main .info_comic_1 .left-part .price-check p {
  color: #FFF;
}

main .info_comic_1 .left-part p {
  line-height: 22px;
  color: #767085;
}

main .info_comic_1 .right-part {
  width: 30%;
  display: flex;
  align-items: center;
}

main .info_comic_2 {
  background-color: #F6F6F6;
  padding-bottom: 80px;
}

main .info_comic_2 .container-info_2 {
  width: 52%;
  margin: 0 auto;
  padding: 20px 0;
  display: flex;
}

main .info_comic_2 .container-info_2 .left-part {
  width: 50%;
}

main .info_comic_2 .container-info_2 .left-part h4 {
  font-size: 23px;
  margin-top: 0;
}

main .info_comic_2 .container-info_2 .left-part .list {
  display: flex;
  border-top: 1px solid lightgrey;
  padding: 10px 0;
}

main .info_comic_2 .container-info_2 .left-part .list:last-child {
  border-bottom: 1px solid lightgrey;
}

main .info_comic_2 .container-info_2 .left-part .list span {
  font-size: 12px;
  padding-left: 75px;
  padding-right: 25px;
  color: #00d0ff;
  font-weight: bold;
}

main .info_comic_2 .container-info_2 .left-part .list span label {
  color: #000;
}

main .info_comic_2 .container-info_2 .left-part .list p {
  width: 60%;
  margin: 0;
}

main .info_comic_2 .container-info_2 .right-part {
  width: 50%;
  margin-left: 40px;
}

main .info_comic_2 .container-info_2 .right-part h4 {
  font-size: 23px;
  margin-top: 0;
}

main .info_comic_2 .container-info_2 .right-part .list {
  display: flex;
  border-top: 1px solid lightgrey;
  padding: 10px 0;
}

main .info_comic_2 .container-info_2 .right-part .list:last-child {
  border-bottom: 1px solid lightgrey;
}

main .info_comic_2 .container-info_2 .right-part .list span {
  font-size: 12px;
  padding-left: 75px;
  padding-right: 25px;
  font-weight: bold;
  margin-top: 4px;
}

main .info_comic_2 .container-info_2 .right-part .list span label {
  color: #000;
}

main .info_comic_2 .container-info_2 .right-part .list #blue-span {
  color: #00d0ff;
  text-transform: uppercase;
}

main .info_comic_2 .container-info_2 .right-part .list p {
  width: 20%;
  margin: 0;
}

footer .background {
  background-image: url("/img/footer-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

footer .background .footer-background {
  width: 65%;
  margin: 0 auto;
  display: flex;
  color: #858585;
  height: 450px;
}

footer .background .footer-background .footer-lists-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

footer .background .footer-background .footer-lists-container .lists {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}

footer .background .footer-background .footer-lists-container .lists .list {
  margin-right: 40px;
}

footer .background .footer-background .footer-lists-container .lists .list ul {
  list-style: none;
  padding-left: 0;
}

footer .background .footer-background .footer-lists-container .lists .list h2 {
  color: #FFF;
}

footer .background .footer-background span {
  font-size: 12px;
  padding-right: 110px;
}

footer .background .footer-background span label {
  color: #0282F9;
}

footer .background .footer-background .big-logo {
  background-image: url("/img/dc-logo-bg.png");
  width: 650px;
  background-repeat: no-repeat;
  background-position: right center;
}

footer .end-footer {
  background-color: #242323;
}

footer .end-footer .container-end-footer {
  width: 65%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0;
}

footer .end-footer .container-end-footer .left-part-footer button {
  font-size: 18px;
  background-color: transparent;
  border: 3px solid #0282F9;
  color: #FFF;
  padding: 10px;
}

footer .end-footer .container-end-footer .right-part-footer {
  display: flex;
  align-items: center;
}

footer .end-footer .container-end-footer .right-part-footer p {
  color: #0282F9;
  font-size: 22px;
}

footer .end-footer .container-end-footer .right-part-footer img {
  margin-left: 20px;
}

