body {
  margin: 0;
  border: 0;
  padding: 0;
  box-sizing: border-box;
}

header .top-header-container {
  background-color: #0282F9;
}

header .top-header-container .top-header {
  width: 65%;
  margin: 0 auto;
  text-align: right;
  padding: 5px 0;
}

header .top-header-container .top-header span {
  color: #FFF;
  margin: 5px 0;
  font-size: 11px;
  margin-left: 30px;
}

header .navbar {
  width: 65%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
}

header .navbar .logo img {
  width: 70px;
}

header .navbar .list ul {
  display: flex;
  list-style: none;
  font-weight: bold;
}

header .navbar .list ul li {
  margin: 0 10px;
  font-size: 15px;
  height: 100px;
  display: flex;
  align-items: center;
}

header .navbar .list ul li i {
  padding-left: 5px;
  color: #0282F9;
}

header .navbar .search input {
  text-align: right;
  border: 0;
  border-bottom: 2px solid #0282F9;
  width: 90px;
}

header .navbar .search input::-moz-placeholder {
  color: #000;
  font-weight: bold;
}

header .navbar .search input:-ms-input-placeholder {
  color: #000;
  font-weight: bold;
}

header .navbar .search input::placeholder {
  color: #000;
  font-weight: bold;
}

header .header-jumbo {
  background-image: url("/img/jumbotron.jpg");
  height: 400px;
}

.main {
  height: 700px;
  background-color: #2b2525;
}

footer .background {
  background-image: url("/img/footer-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

footer .background .footer-background {
  width: 65%;
  margin: 0 auto;
  display: flex;
  color: #858585;
}

footer .background .footer-background .footer-lists-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

footer .background .footer-background .footer-lists-container .lists {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}

footer .background .footer-background .footer-lists-container .lists ul {
  list-style: none;
  padding-left: 0;
}

footer .background .footer-background span {
  font-size: 12px;
}

footer .background .footer-background span label {
  color: #0282F9;
}

footer .background .footer-background .big-logo {
  background-image: url("/img/dc-logo-bg.png");
  width: 650px;
  background-repeat: no-repeat;
  background-position: right center;
}

