footer{
    .background{
        background-image: url("/img/footer-bg.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        .footer-background{
            width: 65%;
            margin: 0 auto;
            display: flex;
            color: rgb(133, 133, 133);
            height: 450px;
            .footer-lists-container{
                display: flex;
                flex-direction: column;
                justify-content: center;
                .lists{
                    display: flex;
                    align-items: flex-start;
                    flex-direction: row;
                    .list{
                        margin-right: 40px;
                        ul{
                            list-style: none;
                            padding-left: 0;
                        }
                        h2{
                            color: #FFF;
                        }
                    }
                }
            }
            span{
                font-size: 12px;
                padding-right: 110px;
                label{
                    color: $blue;
                }
            }
            .big-logo{
                background-image: url("/img/dc-logo-bg.png");
                width: 650px;
                background-repeat: no-repeat;
                background-position: right center;
            }
        }
    }
    .end-footer{
        background-color: #242323;
        .container-end-footer{
            width: 65%;
            margin: 0 auto;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 20px 0;
            .left-part-footer{
                button{
                    font-size: 18px;
                    background-color: transparent;
                    border: 3px solid $blue;
                    color: #FFF;
                    padding:10px;
                }
            }
            .right-part-footer{
                display: flex;
                align-items: center;
                p{
                    color: $blue;
                    font-size: 22px;
                }
                img{
                    margin-left: 20px;
                }
            }
        }
    }
}